body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0A1428;
}

.card-container {
    display: flex;
    border: 1px solid #000; /* Change the color as needed */
    border-radius: 10px; /* Adjust as needed */
    padding: 20px; /* Adjust as needed */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Optional: Adds a subtle shadow */
    background-color: #4158D0;
    background-image: linear-gradient(0deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    width: 1000px; /* Adjust as needed */
    height: 1000px; /* Adjust as needed */
}

.search-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-520px, -520px);
}

.logo-container {
    background-image: url('images/gemLogo.jpg');
    background-size: cover;
    background-position: center;
    width: 1040px; /* Adjust as needed */
    height: 280px; /* Adjust as needed */
    transform: translate(-20px, -20px);
}

.logo {
    font-weight: bold;
    font-family: 'Fracas', sans-serif;
    font-size: 6em; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-part1 {
    transform: translateX(-60px); /* Adjust as needed */
    color: purple;
}

.logo-part2 {
    transform: translateX(100px);
    /* Create a background gradient */
    background: linear-gradient(to right, #785A28, #C89B3C);
    /* Clip the background to the text */
    -webkit-background-clip: text;

    /* Make the text transparent so the background shows through */ 
    color: transparent;
}

.search-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Adjust as needed */
}

.input-group h2 {
    font-size: 2.5em; /* Adjust as needed */
    text-align: center; /* Centers the text */
    font-weight: bold;
    font-family: 'Fracas', sans-serif;
    color: #fff;
    transform: translateY(-40px);
}

#summoner_name {
    font-size: 1.3rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #005A82; /* Change the color as needed */
    background-color: #fff; /* Change the color as needed */
    transform: translate(30px, -50px);
}

#summoner_name:focus {
    outline: none; /* Removes the default blue outline */
    border: 2px solid  rgba(6, 64, 172, 0.384); /* Change the color as needed */
}

#choose_region {
    padding: 13px; /* Adjust as needed */
    border-radius: 5px; /* Adjust as needed */
    border: 1px solid #005A82; /* Change the color as needed */
    background-color: #fff; /* Change the color as needed */
    font-size: .8rem;
    transform: translate(28px, -52px);
}

#choose_region:focus {
    outline: none; /* Removes the default blue outline */
    border: 2px solid  rgba(6, 64, 172, 0.384); /* Change the color as needed */
}

#search_button {
    padding: 10px 20px; /* Adjust as needed */
    border-radius: 5px; /* Adjust as needed */
    border: none; /* Removes the default border */
    background-color:  rgba(6, 64, 172, 0.384); /* Change the color as needed */
    color: #fff; /* Change the color as needed */
    cursor: pointer; /* Changes the cursor to a hand when hovering over the button */
    margin-top: 10px;
    font-size: 1rem;
    transition: background-color 0.2s ease-in-out;
    margin-top: -40px;
}

#search_button:hover {
    background-color: rgba(6, 64, 172, 0.7); /* Darken the button color when hovered */
}

.summonerInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1020px;
    width: 1040px;

}


.summonerInfo-container {
    display: none;
    /* Other styles... */
    transform: translate(-290px, 420px);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #000; /* Change the color as needed */
    border-radius: 10px; /* Adjust as needed */
    padding: 20px; /* Adjust as needed */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Optional: Adds a subtle shadow */
    background-color: rgba(6, 64, 172, 0.384); /* Change the color as needed */
    max-height: 300px;
    max-width: 300px;
}

.main-rank{
    transform: translateX(250px);  
}


#rank-container1 {
    display: none;
    border: 1px solid #000; /* Change the color as needed */
    border-radius: 10px; /* Adjust as needed */
    padding: 20px; /* Adjust as needed */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1); /* Optional: Adds a subtle shadow */
    background-color: #fff; /* Change the color as needed */
    margin-bottom: 20px;
    background-color: rgba(6, 64, 172, 0.384); /* Change the color as needed */
    transform: translate(-20px, 60px);

}

#rank-container2 {
    display: none;
    border: 1px solid #000; /* Change the color as needed */
    border-radius: 10px; /* Adjust as needed */
    padding: 20px; /* Adjust as needed */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1); /* Optional: Adds a subtle shadow */
    background-color: #fff; /* Change the color as needed */
    margin-bottom: 20px;
    background-color: rgba(6, 64, 172, 0.384); /* Change the color as needed */
    transform: translate(-20px,60px);

}

.rank1-title{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    transform: translate(-10px, -40px);
}

.rank2-title{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    transform: translate(-10px, -40px);
}

#rank-container1 img {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    transform: translate(-375px, 40px);
}

#rank-container2 img {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    transform: translate(-375px, 40px);
}

#summoner_name_data, #summonerlevel_data {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    font-size: 20px; /* Change the font size */
    color: #333; /* Change the text color */
    margin-bottom: 10px; /* Add some space below the text */
    font-family: 'Fracas', sans-serif; /* Change the font family */
}

#summoner_name_data h3{
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
    transform: translateY(-60px);
}

#summonerprofilepic_data img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transform: translateY(20px);

}

#summonerlevel_data{
    margin-top: 50px;
}

#summoner_ranked_data1{
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    font-size: 20px; /* Change the font size */
    color: #333; /* Change the text color */
    margin-bottom: 10px; /* Add some space below the text */
    font-family: 'Fracas', sans-serif; /* Change the font family */
}

#summoner_ranked_data2{
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    font-size: 20px; /* Change the font size */
    color: #333; /* Change the text color */
    margin-bottom: 10px; /* Add some space below the text */
    font-family: 'Fracas', sans-serif; /* Change the font family */
}



.summonerName{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: -60px;
}

.summonerLevel{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 10px;
}

.tier {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.rank {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
}

.lp {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
}

.wins {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0f0; 
}

.losses {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f00; 
}

.winPercentage {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
}